:root {
    --primary: #0d1748;
    --primary-light: #ddeffa;
    --text: #212121;
    --background: #FFFFFF;
}

body {
    color: var(--text);
    position: relative;
}

.navbar {
    background-color: var(--primary);
}

.jumbotron {
    background-color: var(--primary-light);
    border-radius: 0;
}

.nav-tabs .nav-link {
    color: var(--text);
}

.nav-tabs .nav-link.active {
    color: var(--text);
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-secondary {
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
    border: 0;
}

.table .thead-dark th {
    background-color: var(--primary);
    border: 0;
}

.accordion .card {
    border: 1px solid var(--primary-light);
}

.accordion .card-header {
    background-color: var(--background);
    border-bottom: 1px solid var(--primary-light);
    cursor: pointer;
}

.accordion .card-header .btn {
    color: var(--text);
    text-decoration: none;
}

.btn.btn-link {
    padding: 0;
}

.media-img {
    border-right: 1px solid var(--primary-light);
}

.skills-container .fab {
    font-size: 52px;
}

footer {
    margin-top: 100px;
    height: 100px;
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
